h1{
    text-align: center;
    margin: 0 auto;
    background-color: black;
    color: cadetblue;
    padding: 10px;
    border-radius: 2px;
    border: 2px solid bisque;
}

h2{
    text-align: center;
}

h3{
    text-indent: 2%;
    text-align: left;
    font-weight: bold;
}

.listRow{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

ul, li{
    margin-left: 2rem;
    list-style-type: disc;
    list-style-position: inside;
}

html, body{
    color: bisque;
    background-color: slategray;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main{
    flex: 1;
}

.navHud{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;
}

.navButton{
    display: flex;
    justify-content: center;
    color: slategray;
    background-color: black;
    padding: 0.6rem 1.2rem;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid bisque;
    transition: background 0.3s, transform 0.2s, color 0.3s;
}

.navButton:hover{
    transform: scale(1.05);
    color: bisque;
    background: black;
}

.navButton.active{
    transform: scale(1.1);
    background: teal;
    color: black;
    font-weight: bold;
    border-color: black;
}

.graphic{
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}

.imageProgram{
    border: 5px color bisque;
    object-fit: cover;
    text-align: center;
    border-radius: 50px;
    margin-top: auto;
    width: 400px;
    height: 300px;

}

figcaption{
    font-weight: bold;
}

.pTag{
    margin: 20px;
    padding: 20px;
    text-align: left;
    font-size: 12pt;
}

.footer{
    text-align: center;
    margin-top: auto;
    background-color: black;
    color: cadetblue;
    padding: 1.2rem;
    border-radius: 2px;
    border: 2px solid bisque;
}

small{
    text-align: center;
}